<section class="content-header">
  <h1>
    <b><i class='fa fa-fw fa-paste'></i> My Topics </b> <%= link_to "Create Topic", learning_topics_new_path, :class => "btn btn-primary pull-right" %> 
  </h1>
</section>
<hr>

<section class="content">
  <% flash.each do |key, value| %>
    <div id="alert" class="alert alert-<%= key %>" onClick="$(this).fadeOut('slow')"><%= value %><span class="close">&times;</span></div>
  <% end %>
	
  <% @topics.each do |topic| %>
  <%=  render partial: "topic", locals: {learning_topic: topic}   %>
  <% end %>
</section>

<div class="clearfix"></div>