
<section class="content-header">
  <h1>
    <i class="fa fa-fw fa-book"></i> About Us
  </h1>
</section>

<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-md-12">
      <!-- general form elements -->
      <div class="box box-primary">
        <div class="box-header">
          
          Hi All,<br><br>

          <p>We are a team of 9 enthusiast students studying in <b>Dhirubhai Ambani Institute of Information and Communication Technology (DA-IICT), Gandhinagar, Gujarat, India.</b> We developed this website as a part of our course Project in Software Engineering.</p>
          <p>We came up with this idea as we all felt a need to have a single platform is required by evryone to learn and do the work.</p>
          <p>Developing Team :</p>
          <p>
          <ul>
          	<li>Mayank Ladha (Team Leader)	</li>
            <li>Siddharth Bhutiya </li>
          	<li>Rohan Garg	</li>
          	<li>Parita Patel	</li>
          	<li>Manish Motiani	</li>
          	<li>Shivang Kar	</li>
          	<li>Mohit Rami	</li>
          	<li>Amit Aseri	</li>
          	<li>Royal Bharti	</li>
          </ul>
        </div><!-- /.box-header -->
	   </div>
    </div>
  </div>
</section>