<section class="content-header">
  <h1>
    <b><i class="fa fa-fw fa-question"></i> Frequently Asked Questions (FAQs)</b>
  </h1>
</section>

<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-md-12">
      <!-- general form elements -->
      <div class="box box-primary">
        <div class="box-header">
          
          <!-- Accordion -->
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="heading1">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" aria-controls="collapse1">
                    <b>Q1. Who can use PROfound?</b>
                  </a>
                </h4>
              </div>
              <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                <div class="panel-body">
                  Any person who want to find developers for project or those who
                  want to work in a project in their area of interest.
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="heading2">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                    <b>Q2. Any person who want to find developers for project or those who
                    want to work in a project in their area of interest?</b>
                  </a>
                </h4>
              </div>
              <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                <div class="panel-body">
                  The goal of the PROfound is to provide a platform to the users where
                  they post a project with details such as what the project is about, what are requirements, what kind of expertise is needed to apply for the project etc. and the other users can see the project details and if interested they can apply for the same.<br>
                  A user can also fill the expertise field in his profile and will be able to see the projects that require his expertise skill and the projects posted by the users he follow.<br>
                  Discussion Forum is another feature of PROfound where users post 
                  their doubts and the users with answers related to it may post it there.<br>
                  One more feature provided by PROfound is Teaching/Learning, where a user with enough knowledge and teaching skills on a particular topic can teach a user or the person who wants to learn something can find the user who has the knowledge of the same.
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="heading3">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                    <b>Q3. What are the goals PROfound? Why does PROfound exist?</b>
                  </a>
                </h4>
              </div>
              <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                <div class="panel-body">
                  A valid email-id would be enough to use profound.
                </div>
              </div>
            </div>

          <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="heading4">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                    <b>Q4. Is there any registration cost involved?</b>
                  </a>
                </h4>
              </div>
              <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                <div class="panel-body">
                  No. It's free and will always be.
                </div>
              </div>
            </div>

          <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="heading5">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                    <b>Q5. Is profound involved in any money transactions between users?</b>
                  </a>
                </h4>
              </div>
              <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
                <div class="panel-body">
                  No. Profound just connects the two users interested in working together.
                </div>
              </div>
            </div>

          <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="heading6">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                    <b>Q6. What kind of projects I can see in my profile?</b>
                  </a>
                </h4>
              </div>
              <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
                <div class="panel-body">
                  You can see the projects posted by the users you are following and the projects matching the tags Area of Interest mentioned in your profile details.
                </div>
              </div>
            </div>

          <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="heading7">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                    <b>Q7. Who can teach a topic?</b>
                  </a>
                </h4>
              </div>
              <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
                <div class="panel-body">
                  Anyone who has experience and expertise in any area of technology you want to learn, can teach topic.
                </div>
              </div>
            </div>

          <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="heading8">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                    <b>Q8. Who can learn a topic?</b>
                  </a>
                </h4>
              </div>
              <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8">
                <div class="panel-body">
                  Any one can learn any topic if other user is ready to teach.
                </div>
              </div>
            </div>

          <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="heading9">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                    <b>Q9. What are reputation points and how do I earn reputation points?</b>
                  </a>
                </h4>
              </div>
              <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading9">
                <div class="panel-body">
                  You can earn reputation points at the end of the project completion. Once you complete the project and the project owner is satisfied by your work then he can give you positive reputation points.<br>
                  A person can also get negative reputation points indicating some bad works done by him or due to fraud the other party etc.<br>
                  But the important thing is, you have to give an explanation for each point.
                </div>
              </div>
            </div>

          <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="heading10">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                    <b>Q10. How to contact a user who posted project? OR How to apply for project?</b>
                  </a>
                </h4>
              </div>
              <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading10">
                <div class="panel-body">
                  You send your CV to that person and if he mentions any contact details on the post, you can contact him/her through that.
                </div>
              </div>
            </div>

          <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="heading11">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse11" aria-expanded="false" aria-controls="collapse11">
                    <b>Q11. How to select applicants?</b>
                  </a>
                </h4>
              </div>
              <div id="collapse11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading11">
                <div class="panel-body">
                  Interested users will send the details and from these applicants you can select people according to your criteria and contact them via message or personal contact and confirm the participation.
                </div>
              </div>
            </div>

          <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="heading12">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse12" aria-expanded="false" aria-controls="collapse12">
                    <b>Q12. Is there any limit for followers/following?</b>
                  </a>
                </h4>
              </div>
              <div id="collapse12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading12">
                <div class="panel-body">
                  No. there is no limit on the person, you are following or people following you.
                </div>
              </div>
            </div>

          <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="heading13">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse13" aria-expanded="false" aria-controls="collapse13">
                    <b>Q13. What is the Upvote and Downvote button in the discussion forum for?</b>
                  </a>
                </h4>
              </div>
              <div id="collapse13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading13">
                <div class="panel-body">
                  When you browse through the different answers in the discussion forum, if you like the answer or the answer is helpful to you, then you can upvote the answer to increase its priority.<br>
                  In the similar way if someone posted any harmful post/answer or you think it is abusive then you have all the rights to downvote that answer or to report that person if it is severe.
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="heading14">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse14" aria-expanded="false" aria-controls="collapse14">
                    <b>Q14. Can I edit the project once I have saved the project details?</b>
                  </a>
                </h4>
              </div>
              <div id="collapse14" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading14">
                <div class="panel-body">
                  Yes you can edit the project details even after saving it and it will have changed time stamp.
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="heading15">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse15" aria-expanded="false" aria-controls="collapse15">
                    <b>Q15. What if a person has a very bad reputation?</b>
                  </a>
                </h4>
              </div>
              <div id="collapse15" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading15">
                <div class="panel-body">
                  If the reputation points of a person exceeds a negative threshold setup by PROfound, then our Admin personally checks that user’s profile and may ban that user’s profile depending on the report details.
                </div>
              </div>
            </div>

        </div><!-- /.box-header -->
	  </div>
</div>
</div>
</section>

