<section class="content-header">
  <h1>
    <b><i class="fa fa-fw fa-hand-o-up"></i> Help</b>
  </h1>
</section>

<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-md-12">
      <!-- general form elements -->
      <div class="box box-primary">
        <div class="box-header">
          
        </div><!-- /.box-header -->
	  </div>
</div>
</div>
</section>

