<div class="row">
<div class="col-xs-12">
  <p><b><%= discussion_reply.user.first_name + " " + discussion_reply.user.last_name %></b></p>
  <p><%= discussion_reply.reply %></p>
  <p><%= link_to("Upvote (#{discussion_reply.upvotes})", "#", :class => "btn btn-success btn-xs") %>  <%= link_to("Downvote (#{discussion_reply.downvotes})", "#", :class => "btn btn-danger btn-xs") %></p>
</div>  
</div>
<hr>