<section class="content-header">
  <h1>
    <b><i class='fa fa-fw fa-close'></i> Confirm Delete</b>
  </h1>
</section>

<!-- Main content -->
<section class="content">

  <!-- Default box -->
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">Are you sure you want to delete the Discussion Thread: <%= @discussion.topic_name %> ?</h3>

    </div>
    <div class="box-footer">
      <%= button_to 'Confirm Delete', {:action => 'destroy', :id => @discussion.id}, class: 'btn btn-danger' %>
    </div><!-- /.box-footer-->
  </div><!-- /.box -->

</section><!-- /.content -->
</div><!-- /.content-wrapper -->