<section class="content-header">
  <h1>
    <b><i class='fa fa-fw fa-briefcase'></i> Discussion Forum</b> <%= link_to "Start a Discussion", discussions_new_path, :class => "btn btn-primary pull-right" %> 
  </h1>
</section>
<hr>
<ul class="timeline">

  <% @discussions.each do |discussion| %>
  <%=  render partial: "discuss", locals: {discussion: discussion}   %>
  <% end %>

</ul>
<div class="clearfix"></div>