<section class="content-header">
  <h1>
    Discussion Forum
  </h1>
</section><br>

<ul class="timeline">

  <% @discussions.each do |discussion| %>
  <%=  render partial: "discuss", locals: {discussion: discussion}   %>
  <% end %>

</ul>
<div class="clearfix"></div>