<section class="content-header">
  <h1>
    <b><i class='fa fa-fw fa-briefcase'></i> My Discussions</b> <%= link_to "Start a Discussion", discussions_new_path, :class => "btn btn-primary pull-right" %> 
  </h1>
</section>
<hr>
<ul class="timeline">
  <% flash.each do |key, value| %>
    <div id="alert" class="alert alert-<%= key %>" onClick="$(this).fadeOut('slow')">
    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    	<%= value %><span class="close">&times;</span></div>
  <% end %>

  <% @discussions.each do |discussion| %>
  <%=  render partial: "my_discuss", locals: {discussion: discussion}   %>
  <% end %>

</ul>
<div class="clearfix"></div>