<h2><font="verdana"><b><i class="fa fa-fw fa-graduation-cap"></i><b> Projects</font></b></h2>
<div>
	<% @projects.each do |project|%>
	<p>Project Name : <%= project.project_name %> Owner : <%= project.user.first_name %></p>
	<% end %>
</div>
