<section class="content-header">
  <h1>
    <b>My Projects </b><small> <i class="fa fa-circle text-success"></i> Completed <i class="fa fa-circle text-primary"></i> Ongoing <i class="fa fa-circle text-danger"></i> Yet to start </small> <%= link_to "Create Project", projects_new_path, :class => "btn btn-primary pull-right" %> 
  </h1>
</section>
<hr>

<section class="content">
  <% @projects.each do |project| %>
  <%=  render partial: "project", locals: {project: project}   %>
  <% end %>
</section>

<div class="clearfix"></div>