<section class="content-header">
  <h1>
    <b><i class='fa fa-fw fa-graduation-cap'></i> My Projects </b><small> <i class="fa fa-circle text-success"></i> Completed <i class="fa fa-circle text-primary"></i> Ongoing <i class="fa fa-circle text-danger"></i> Yet to start </small> <%= link_to "Create Project", projects_new_path, :class => "btn btn-primary pull-right" %> 
  </h1>
</section>
<hr>

<section class="content">
  <% flash.each do |key, value| %>
    <div id="alert" class="alert alert-<%= key %>" onClick="$(this).fadeOut('slow')"><%= value %><span class="close">&times;</span></div>
  <% end %>
  
  <% @projects.each do |project| %>
  <%=  render partial: "project", locals: {project: project}   %>
  <% end %>
</section>

<div class="clearfix"></div>